.env
**/.idea/
wordpress/uploads/
/wordpress/wp-content/uploads/
node_modules
/wordpress/wp-react-blocks-plugin/blocks/build/
/wordpress/wp-react-blocks-plugin/blocks/node_modules/
.vscode/
.DS_Store
.idea/
dist/
**/node_modules/
.claude